[2015-05-25 17:03] rarbg opened #1 "API changes"
@abeloin , @fernandog , @SchizoDuckie , @Taloth , @JackDandy , @cvium , @zone117x , @mancuniancol , @romanvm , @Hellowlol , @erickok , @KrunchMuffin
Guys.. i took the liberty of creating this project , i dont know if you know each other so i created the README with all of you listed. Now lets make the api the way you like it.
Everyone has different issues related to the api so just please tell me

[2015-05-25 17:12] zone117x commented on #1
I'm assuming @Taloth is included for getting RARBG integrated into Sonarr? If so then I'd yield my suggestions to him. If you can get Sonarr integration then there's no point in having Jackette support.

[2015-05-25 17:37] rarbg commented on #1
@zone117x
Yes he is integrating it https://github.com/Sonarr/Sonarr/pull/562
Jackette might support other indexers in the future , thats why you are included :)

[2015-05-25 17:42] SchizoDuckie commented on #1
My only complaint so far is that I hit the rate limit during testing. Other
than that i'm pretty happy!

On Mon, May 25, 2015 at 7:37 PM, Rarbg <notifications@github.com> wrote:

[2015-05-25 17:59] Taloth commented on #1
* Include timezone in pubdate, I hate guessing :smile:.
* Use errorcode in conjunction with error text.
* Use full property names 'seeders' instead of 's'. gzip already helps on the compression front.
* Add v1 to the api endpoint, so you can create new versions with breaking changes while preserving the and old api adapter.

For me the 10000 limit doesn't seem a problem, but maybe that's coz we pr

[2015-05-25 18:06] rarbg commented on #1
@SchizoDuckie @Taloth
Updated the task list
@Taloth
Dont worry every api version iteration will have different endpoints for backward compatibility

[2015-05-25 19:46] SchizoDuckie commented on #1
@rarbg I don't know if you're behind a CDN currently, but I actively abort search requests for find-while-you type with a 500ms delay. So if a equest takes longer than 500ms, and a user has issued an updated search query, a new request will come in and the old one is aborted. You may or may not want to handle those on your serverside for performance. (php's ignore_user_abort equiv)

[2015-05-25 20:04] rarbg commented on #1
@SchizoDuckie
:P Our web servers are handling up to 16000 req/s at peak. I dont see how some small amount of aborted requests can hit our performance

[2015-05-25 20:07] SchizoDuckie commented on #1
@rarbg just mentioning for courtesy reasons :)

[2015-05-25 20:16] rarbg commented on #1
@SchizoDuckie
Thank you , but dont worry about it :)

[2015-05-26 18:04] Taloth commented on #1
Is the idea to use this api spec purely for rarbg, or also other sites?

Personally I think the torrent community could really benefit from an indexer framework that parses the titles and does all the tvrage/tvdb/numbering stuff.
There are countless trackers that lack that capability and where the admin simply doesn't have the technical know-how or time to make it happen.

[2015-05-26 18:39] rarbg commented on #1
the idea of v2 is to make it work for rarbg with all the features you want. if you want a spec that you all agree upon - its not an issue for me to code it in that spec ;)
the "countless trackers" dont have any torrents which are not already available on other sites -  so there is no point of integrating them. also admins that lack the technical knowledge of coding a simple api by default operate

[2015-05-26 18:52] Taloth commented on #1
Was just trying to get a feel for the scope.

My second paragraph wasn't about api, but more about parsing/analysis for indexing purposes, which is a lot harder.

[2015-05-26 19:29] rarbg commented on #1
@Taloth
I can easily parse any release of the top 1000 most popular tv shows to ep info(air date, tvrage & etc ) if thats what you are asking ?

[2015-05-27 03:37] rarbg commented on #1
@abeloin , @fernandog , @SchizoDuckie , @Taloth , @JackDandy , @cvium , @zone117x
Im done with almost all the changes , except one for the stats.
Do you have any other requests ?

[2015-05-27 10:44] cvium commented on #1
Maybe a field indicating whether it is a ranked/internal release?

[2015-05-27 17:19] Taloth commented on #1
I pushed v1 to our develop branch for some feedback and testing yesterday, first comment: Request for a "infoUrl" to the website. :confused:

[2015-05-27 17:23] rarbg commented on #1
Added both to the task list

[2015-05-27 18:00] rarbg commented on #1
Done!
@Taloth Can you test pubapi_v2.php ?

[2015-05-27 18:15] Bon3 commented on #1
@rarbg @Taloth Maybe one of you can give me a quick setup guide for this?? I tried reading the docs posted earlier but i can't seem to connect :(

Tried with: https://torrentapi.org/pubapi.php?mode=search&search_imdb=tt123456&category=18;41&token=xxxx

ofc editing the token xxx with the one generated by token generator :( my Sonarr just says failed to connect when i test??

[2015-05-27 19:49] Taloth commented on #1
@rarbg
Tnx for the info_page.
Also, the consistent json object will make deserialization easier for us.

Couple of things:
- ```get_token``` without ```&format=json``` returns raw text but ```Content-Type: application/json```.
- If you want to force json all around, then maybe change ```&format=json_extended```to ```&extended=1``` and get rid of the ```&format=``` ```&response_type=``` params.
- `

[2015-05-28 03:19] rarbg commented on #1
@Taloth
Forced to return gettoken always in json. Updated apidocs_v2.txt
Fixed pubdate to add "+0000"
Cosmetics are also fixed :)
Please test :P

[2015-05-28 17:53] Taloth commented on #1
Looks good. I'll wait for the feedback of the others.

Update the apidocs_v2.txt: pubapi.php -> pubapi_v2.php

[2015-06-08 13:16] cvium commented on #1
@rarbg I have only done some in-browser tests, but it looks pretty good.

[2015-06-11 19:53] miigotu commented on #1
@rarbg Is it possible we could get the id in api to use your download.php for torrent files?  If this is something that you want to prevent, there is a way around it atm in v2:
redirect_to_info.php and find it in the returned page

On one hand, it would speed up our snatching, but on the other there is increased load on your end.

[2015-06-11 20:04] rarbg commented on #1
@miigotu
For legal reasons i cant provide download links to .torrent files.
About the "way around it" - try it. You will see that it wont work , there are limits on the redirect_to_info.
Im happy to discuss that , but its not for github if you catch my drift...
Anyways why do you even need the .torrent file directly ? Cant you utilize magnet links or a combination of the publicly available torrent

[2015-06-11 20:17] miigotu commented on #1
I don't need it, was just making sure someone could not work around it not being there and cause you some trouble down the road pretty much xD.

We already use zoink,torrage,torcache atm. Looping through them just creates a slight more overhead from consecutive requests on failure. Works just fine though.

Right now I'm more working on fixing up SR so that it only has to hit the api once for each

[2015-06-11 20:30] rarbg commented on #1
@miigotu
Nice :) Well , thanks
Ill finish up v2 in 2-3 days. We are doing a huge database migration , so as soon as we are ready ill finish it up and everyone can move to v2 :)

[2015-06-12 08:19] Taloth commented on #1
FYI, I already updated my code to v2 about a week ago, but didn't push it yet to our develop-branch users, wanted to wait for v2 to be definitive :smile: Not in a hurry either.

[2015-06-16 11:32] rarbg commented on #1
@abeloin , @fernandog , @SchizoDuckie , @Taloth , @JackDandy , @cvium , @zone117x , @mancuniancol, @romanvm

v2 is now in production - http://torrentapi.org/apidocs_v2.txt
Please start testing and moving your apps to it :)
What do you think is a good deprecation date for v1 ? 90 days?

[2015-06-16 11:51] Hellowlol commented on #1
@rarbg I was wondering if its ok if i use your api in htpc-manager?

[2015-06-16 12:25] rarbg commented on #1
@Hellowlol
Ofcourse you can use it :) Ill add you to the list of projects

[2015-06-16 12:44] cvium commented on #1
@rarbg Next release of Flexget will use the new API.

[2015-06-16 15:07] miigotu commented on #1
I'll make the switch tonight.

[2015-06-16 15:19] rarbg commented on #1
@cvium  , @miigotu
Please add app_id to your requests , i updated the docs to include it :
When querying the api please use the app_id parameter with your app name so we can generate statistics for it.

[2015-06-16 16:18] miigotu commented on #1
@rarbg will do.

[2015-06-16 18:25] SchizoDuckie commented on #1
Nearly done with my v2 implementation for DuckieTV. Query results are very odd though:

![image](https://cloud.githubusercontent.com/assets/111710/8190895/b04e68f6-1465-11e5-8ec6-08fc4077120d.png)
Incorrectly sorted, and there are hits for 'House Of Cards' in the results.

[2015-06-16 19:05] rarbg commented on #1
@SchizoDuckie
Ill check it today , about the search ill need to rework it obviously because it searches in actors too

[2015-06-16 19:21] Taloth commented on #1
Can't you use the User-Agent instead of app_id? Sonarr already submits it's own User-Agent on all requests.

[2015-06-16 19:31] rarbg commented on #1
@Taloth
That means parsing all user agents , 48 of them unique to understand what app is what

[2015-06-16 19:41] Taloth commented on #1
Very well, added to develop.

As for v1 deprecation, as long as it still works I would keep it alive. Eventually the number of requests should drop low enough, assuming you have statistics on that.

[2015-06-16 19:48] miigotu commented on #1
Eh, v2 down right now?

[2015-06-16 19:49] rarbg commented on #1
@miigotu
Fixing @SchizoDuckie's issue by rebuilding the indexes. Shouldnt take long

[2015-06-16 19:51] miigotu commented on #1
NP, just making sure our code wasn't broken somehow.

[2015-06-16 19:52] SchizoDuckie commented on #1
awesome support :+1:  thanks @rarbg !

[2015-06-16 19:58] miigotu commented on #1
Agreed @SchizoDuckie +1. rarbg is definitely my go to public tracker now. After I get our rarbg provider just right and caching results better with less requests I might make it a default/preferred provider in SR as long as I can prevent hammering.

[2015-06-16 20:09] rarbg commented on #1
@SchizoDuckie
Fixed
@SchizoDuckie , @miigotu
Thanks for the nice words :)
@miigotu
v2 is up :)

[2015-06-16 21:52] SchizoDuckie commented on #1
Works like a charm now. perfect.

[2015-06-16 21:59] rarbg commented on #1
Great

[2015-06-17 00:13] mancuniancol commented on #1
@rarbg, I've done some test and it is really easy to update my app to the api.  However, I'm forced to use Kodi python version and I get SSL error using urllib2 and requests.  It seems that it is a known issue, but I will try to search more to be able to get the information from the api.  I have the new code ready, but I cannot release it until I could fix the that problem.  Btw, excellent job.

[2015-06-17 00:30] rarbg commented on #1
@mancuniancol
Its a very known issue. Just keep in mind that openssl needs to be latest version and it will work.
However i assume kodi is running mostly on embeded devices so i suggest you make http instead of https requests. The api data is not sensitive at all anyways and there is no way to update openssl on a huge range of embeded devices - like nas & etc. if you really want to use https - fal

[2015-06-17 01:56] mancuniancol commented on #1
@rarbg, I didn't try before with http.  Now, it is working :)  thanks.

[2015-06-18 01:46] rarbg commented on #1
@cvium
Dont forget that the api req limits were dropped to 2 secs , so you can modify your set_domain_delay :)

[2015-06-18 21:04] SchizoDuckie commented on #1
@rarbg dunno if this makes sense and is possible: could you maybe alter the api req limits to something like 5 searches every 10 seconds? It'd be sweet interaction wise, if you could do some quick find-as-you-type bursts. Doesn't really matter if you have to wait a couple of seconds after that.

[2015-06-18 21:13] rarbg commented on #1
@SchizoDuckie
Right now im keeping just 1 timestamp per token.
Ill have to rework the db to keep token request history and just query db for the last 10 seconds for that token , count and if its > 10 error
Its doable but i'll do it in the next 24-48 hours because i really dont want to modify it right now :)

[2015-06-18 21:15] miigotu commented on #1
@SchizoDuckie the limit is to force us to fix our code and not hammer the api. I think after all apps using the api are updated accordingly he might consider it, but for now I would request he doesn't until we know we aren't spamming it.

[2015-06-18 21:17] rarbg commented on #1
@miigotu
About your code ... i was thinking yesterday , would you be interested in search_imdb(tvrage/tvdb)_multi where you can pass multiple imdb/tvrage/tvdb values separated with a character ?

[2015-06-18 21:19] SchizoDuckie commented on #1
Yeah, come to think of it, I need to build in a limiter anyway since the
DuckieTV autodownload could produce N results for today. I hereby retract
my request!
On 18 Jun 2015 23:15, "Dustyn Gibson" <notifications@github.com> wrote:

[2015-06-18 21:20] rarbg commented on #1
@SchizoDuckie
Retraction accepted. However the fine print at the bottom of the README states that anyone retracting requests should pay $5 to every contributor in the project. How do you want to handle payment ? Is bitcoin ok ? :)

[2015-06-18 21:30] SchizoDuckie commented on #1
@rarbg sorry, my local currency is pieces of dried out bread. There is no
bitcoin exchange for that yet

[2015-06-18 21:32] Hellowlol commented on #1
I likes the suggestion about x api calls in x sec instead of hardcode of 1/2s. Thanks for the api! it's awesome.

[2015-06-18 21:35] cvium commented on #1
Having 1 api call per X seconds is easier to handle gracefully though.

[2015-06-18 21:36] Hellowlol commented on #1
True.

[2015-06-18 21:38] miigotu commented on #1
@rarbg yes, when I get around to reworking the provider it would be nice, but i'm not sure if it is necessary or how to use it with caching cleanly on my end off the top of my head.
I couldnt just add all of the show ids to one request or (1)the string would be too long, and (2)the results would be hella large.

With my current plan, we will only be hitting the api once for each show max per 15 mi

[2015-06-18 21:51] rarbg commented on #1
@miigotu
Eh now i understand your issue. Forget about the search ! Its pointless in your case !
If you are going to index - Why dont you just hit the api without a search , in mode=list and actually do json_extended , from there you will get in the json object episode_info imdb , tvrage , tvdb ids for every upload. Then you can index :) No need for search or anything. Just match if the imdb/tvrage

[2015-06-18 22:00] miigotu commented on #1
@rarbg it already does, for daily search thread. backlog searches for specific episodes/shows if they are not in the cached list, because the list mode cannot possibly return every possible torrent in your DB.

[2015-06-18 22:27] rarbg commented on #1
@miigotu
For the daily you'll need to to the daily , yep :)
It might be actually cool if your apps supported notifying from my side.
Instead of you constantly asking for "new things" , since most of the htpc boxes are online 24/7 , it would be cool if they can just idle in irc and collect notifications :)

[2015-06-18 23:47] miigotu commented on #1
@rarbg Someday in the distant future, I have ideas for ftp providers and irc trolling xD. For now, just focused on working out our list of bugs and situations that are conducive to ebkac.

[2015-06-19 08:03] Hellowlol commented on #1
@rarbg Any change you can add more to json_extend while using a using search_string: like codec, resolution etc (i cant remember the rest for the categories from rargb and i cant check from work)?

The "code" (ripped from sr) is done, just waiting on a icon :)

[2015-06-19 08:52] miigotu commented on #1
@Hellowlol SR code for rarbg is going to be getting a major overhaul soon. =P

[2015-06-19 09:02] Hellowlol commented on #1
No worries ill see if you add anything usefull. I dont need to reenvent the wheel. My needs are pretty basic, just a simple search string and grab as much info as possible. Im just happy i dont have to scape the webpage ^^

[2015-06-19 11:09] rarbg commented on #1
@Hellowlol
I didnt get the category relation with the codec thing ?
Codecs are only 2 on the site - xvid & x264
Resolutions are 3 - SD , 720p, 1080p

Do you want specific codec info - like bitrate & etc ? We keep them for every release including subs streams & etc but it will be very hard to do :)

[2015-06-19 11:19] erickok opened #2 "Sort by seeders causes incorrect or empty search results"
Please compare correct request for `search_string=archer` with `sort=last`
https://torrentapi.org/pubapi_v2.php?mode=search&search_string=archer&sort=last&format=json_extended&token=XXX
with `search_string=archer` with `sort=seeders`
https://torrentapi.org/pubapi_v2.php?mode=search&search_string=archer&sort=seeders&format=json_extended&token=XXX
or `search_string=house` with `sort=seeders`
https:/

[2015-06-19 11:38] rarbg commented on #2
@erickok
I'll fix that , cant do it right now because ill need to do some reindexing.
However you can
A) use category=tv param and it will show the correct results
or
B) use ranked=0 and it will show the correct results

[2015-06-19 12:00] Hellowlol commented on #1
Just forget the thing about categories.

I don't need details like bitrate etc,  but if there was a easy way for you to add source (ex HDTV, WEB-DL), container (mp4, mkv), codec (SD, 7209, 1080p) to extra info returned from json_extended i would appreciate it.

Don't do it if its alot of work, i can always just use N/A like i have done with the other trackers that don't return that info.

[2015-06-19 12:09] rarbg commented on #1
everything is doable
easy - source , codec , resolution
container - hard , need to parse mediainfo for every release :)

[2015-06-19 12:11] Hellowlol commented on #1
Ok, drop container then ;)

[2015-06-19 12:45] rarbg commented on #1
@Hellowlol
The cool thing about having a standardized naming convention on your site is that i can just give you a function that you run against the filenames returned from the API and you will get everything you requested :P And yes im lazy

def find_info(filename):
    codec = 'x264';
    v = re.search("(?i)(x265|h265|h\.265)",filename);
    if v:
        codec = 'x265';
    v = re.search("(?i)(

[2015-06-19 13:19] erickok commented on #2
Not sure if I understand. How does the sort order on number of seeders/leechers have an influence on which results are returned?

[2015-06-19 13:30] Hellowlol commented on #1
And why didnt i think of that... Thanks!

[2015-06-19 13:30] rarbg commented on #2
It doesnt @erickok
However if you read the docs :

By default the api will return only ranked torrents ( internal ) , scene releases + -rarbg releases + -rartv releases.
If you want other groups included in the results use the ranked parameter with a value of 0 to get them included.

Meaning , for the string you are searching there are no ranked results. Only uploaded by external groups.

[2015-06-19 13:40] erickok commented on #2
Sure, okay. But the first two examples use the same query and both `ranked=1`, only a different sort order.

You are right that this problem does not occur for searches with `ranked=0`, it seems.

[2015-06-19 13:41] erickok commented on #1
Awesome project guys, really great to see a forward-thinking tracker with a proper API. I added support in my little library erickok/transdroid-search#25 such that RARBG searches are natively supported when using Transdroid or tTorrent on Android.

[2015-06-19 13:43] rarbg commented on #2
I will correct the first 2 , dont worry about it :) Just use ranked=0 , anyways you are doing a search app , it should be ranked=0

[2015-06-19 13:44] erickok commented on #1
:+1:

[2015-06-19 13:44] erickok commented on #2
:+1:

[2015-06-19 13:44] #2 closed

[2015-06-19 13:46] rarbg commented on #1
Welcome to the project @erickok :)

[2015-06-20 15:05] fernandog commented on #1
@rarbg as you are planningg to add code is it possible to add a few more parameters to API Search?

Codec (xvid|h264|h265)
Min size
max size
always in MB

This way we can add more options so user could get only torrents with max size of 1200 mb and min size of 350 for example.

What do you think?

[2015-06-20 15:18] rarbg commented on #1
@fernandog
:D
1. This spec for v2 was open for 20+ days before going to a final stage. Where the fuck were you :D
2. Codec is always xvid or x264. x265 is not mature and its producing shitty results for now. If you want to add it as an option just append it as a search string ? xvid or 264 ?
3. Size limits are stupid , there are no guarantees , especially on HDTV scene releases that the size will

[2015-06-20 15:20] fernandog commented on #1
Sorry. 9m baby! Hehehe. Cant code him to sleep.
Sickrage users ask this all the time.
I dont agree too but just wondering

[2015-06-20 15:20] rarbg commented on #1
Whats stopping you from filtering them yourself ?
Both size and codec ?

[2015-06-20 15:52] fernandog commented on #1
ok! saw the size in json_extended

[2015-06-20 18:23] miigotu commented on #1
@fernandog I plan on using json_extended anyways, we need size for failed handling =P. Try no to touch the providers much over the next few days as I have to mod almost every provider to fix proper finder.

[2015-06-21 07:04] romanvm commented on #1
Are there any pagination for search results (like "page=2" in a search query string)?  Currently the API returns up to 100 results, but if I search a specific TV show using IMDB ID and the show is running for some time now, I'd like to have access to earlier episodes than included in the first 100.

[2015-06-21 07:59] miigotu commented on #1
Just add a search string too, to filter by season
`mode=search&search_imdb=tt123456&category=tv&token=xxxx&search_string=S02E|Season 2`

[2015-06-21 10:19] rarbg commented on #1
OR in search is {{something|otherthing}}
so search_string={{S02|Season 2}}

[2015-06-21 10:23] miigotu commented on #1
Edited. I haven't even tried that yet, was off the top of my head lol. Just how I planned part of the rewrite.

[2015-06-21 10:37] Hellowlol commented on #1
@rarbg rarbg is added :)

[2015-06-21 10:40] rarbg commented on #1
@Hellowlol
Great! Thanks

[2015-06-22 17:05] KrunchMuffin commented on #1
Anyone feel like testing Rarbg implementation for CouchPotato?

I have only tested it on Windows. Seems to be OK. First time using Python.

https://github.com/KrunchMuffin/CouchPotatoServer/tree/Develop

[2015-06-22 17:12] fernandog commented on #1
@KrunchMuffin can I apply this patch on master?

Or must be applied on develop?

https://github.com/KrunchMuffin/CouchPotatoServer/commit/86bbc87da97a59e782344e345de5457f29fc88e6.patch

[2015-06-22 17:18] KrunchMuffin commented on #1
don't see any reason u can't do it on master

[2015-06-23 22:40] fernandog commented on #1
@KrunchMuffin testing right now. forced a search in all my wanted movies

got this error. rarbg is the only provider enabled. Lots of this:
[code]

[2015-06-23 22:42] KrunchMuffin commented on #1
Can u paste the search URL? Should be in the log also.
On Jun 23, 2015 6:40 PM, "Fernando" <notifications@github.com> wrote:

[2015-06-23 22:43] fernandog commented on #1
@KrunchMuffin I'm trying removing the https from the gettoken. wait a bit

[2015-06-23 22:44] fernandog commented on #1
@KrunchMuffin

06-23 19:38:12INFO[hpotato.core.plugins.base] Opening url: get https://torrentapi.org/pubapi_v2.php?token=zkf79swm3u&mode=search&search_imdb=tt2395427&min_seeders=1&min_leechers=0&ranked=1&category=movies&format=json_extended, data: []

[2015-06-23 22:48] fernandog commented on #1
@rarbg why no results found is classified as an error?

{"error":"No results found","error_code":20}

[2015-06-23 23:09] KrunchMuffin commented on #1
ya, would be nice if there was a json attribute with total results count. but no big deal. I will get that fixed tho.

[2015-06-24 03:18] rarbg commented on #1
@fernandog
Thats how the api is from version 1 :D

[2015-06-24 06:34] erickok commented on #1
Yes and now that apps rely on it, do we want to change it again? (For my
instance I can still go back and change it for a release, but there might
be instances where thin would break the behaviour.)
On 24 Jun 2015 05:18, "Rarbg" <notifications@github.com> wrote:

[2015-06-24 06:44] rarbg commented on #1
@erickok
Nothing is changed to the api responses errors since version 1.
Nothing is changed to the way it replies to no results since you implemented it.
You didnt read right :)

[2015-06-24 07:05] erickok commented on #1
No no, I understand. I was just voting against changing it. :)

On 24 June 2015 at 08:44, Rarbg <notifications@github.com> wrote:

[2015-06-24 07:21] miigotu commented on #1
@rarbg You have a list of error codes we can check against? Doesnt really make a difference for SR for now, but it might be helpful down the road.

[2015-06-24 07:32] rarbg commented on #1
@miigotu

Cant find imdb in database. Are you sure this imdb exists? 10
Cant find tvrage/imdb/tvdb in database. Are you sure it exists? 8
Cant find thetvdb in database. Are you sure this thetvdb exists? 14
Cant find tvrage in database. Are you sure this tvrage exists? 12
Invalid character in category 30
Invalid imdb 9
Invalid mode 15
Invalid sort 18
Invalid token set! 2
Invalid token set! 3
Invali

[2015-06-24 07:33] rarbg commented on #1
@erickok
Nothing will be changed without at least a 51% agreement from the people in this ticket :)

[2015-06-25 12:16] fernandog commented on #1
@KrunchMuffin when you fix, let me know so I can test. thanks!

[2015-06-25 12:18] KrunchMuffin commented on #1
np, I made a bunch of changes for better performance and fixed the issue with only 1 result appearing, if u noticed that. Hopefully get it pushed tonight.

[2015-06-25 12:21] Hellowlol commented on #1
@rarbg can you add thouse responses to the api doc. Its nice to have everything in the same place

[2015-06-25 12:27] erickok commented on #1
Might also be good to add in the doc that it is mandatory to set a User-Agent. Otherwise I received HTTP errors.

[2015-06-26 01:39] KrunchMuffin commented on #1
@fernandog latest code commited

https://github.com/KrunchMuffin/CouchPotatoServer/tree/Develop

let me know. thanks.

[2015-06-26 02:02] fernandog commented on #1
@KrunchMuffin seems ok. No errors

[e.providers.torrent.rarbg] No results returned from Rarbg

Didnt test the snatch as nothing available in mu wanted list

[2015-06-26 13:00] fernandog commented on #1
@KrunchMuffin notifications didn't worked in CP UI (the little "eye") when snatched.
can you confirm?

also can you add the IMDB tt in this message?
06-26 09:43:06ERROR[e.providers.torrent.rarbg] There is an error in the returned JSON: Cant find imdb in database. Are you sure this imdb exists?

Movie was added correctly to CP so it's strange that it can find  the imdb

[2015-06-26 13:27] KrunchMuffin commented on #1
ya, it's working for me, but I don't even touch that code. That is part of the main program.

I can see if I can return the imdb code, not sure right now. Be best if the rarbg api returned it with that error. what was the name you were searching?

[2015-06-26 13:32] fernandog commented on #1
full search for all wanted. 40 items. 10 returned with this error

[2015-06-26 13:37] KrunchMuffin commented on #1
can u give me some names to test?

[2015-06-26 13:53] fernandog commented on #1
@rarbg @KrunchMuffin

https://torrentapi.org/pubapi_v2.php?token=o92sypktwg&mode=search&search_imdb=tt2398241&min_seeders=1&min_leechers=0&ranked=1&category=movies&format=json_extended

{"error":"Cant find imdb in database. Are you sure this imdb exists?","error_code":10}

http://www.imdb.com/title/tt2398241/

[2015-06-26 14:00] KrunchMuffin commented on #1
ya, looks right. The main search is done by CP, not my code. CP just hands me the info and I pass it on to rarbg. These are the links CP checks and they all return no results for that movie. Assuming cause it's 2 years in the future, but I don't know. Does it actually show up in your wanted list? if so, very weird and may want to log a CP bug.

06-26 09:56:21 INFO [0m[hpotato.core.plugins.base] O

[2015-06-26 14:02] fernandog commented on #1
yes. I add my movies to trakt. and CP syncs with trakt and add to the wanted list. There's tons of future movies.

[2015-06-26 17:50] miigotu commented on #1
@KrunchMuffin you could consider that a bug in either or both rarbg api and CP handling of error codes.

Either rarbg should just return an empty result when the imdb|tvrage|tvdb_id is not found, or CP should a.) not be searching for movies that release in the furture or b.) handle the error code better.

[2015-06-27 03:06] KrunchMuffin commented on #1
Well CP already does do that. If u do a search at the top for a movie in the future, it does what it should and returns no results so it has no I'd to send to rarbg etc. so it's prolly the trakt integration.

[2015-06-27 03:26] miigotu commented on #1
@fernandog the request should never be made to rarbg if the movie date is in the future. 100% needs to be fixed somewhere in cp. Actually, the error should be handled, and it should not be searched.

[2015-06-27 13:22] fernandog commented on #1
@miigotu CP has this option (mine is enabled)

**Always Search**
Search for movies even before there is a ETA. Enabling this will probably get you a lot of fakes.

[2015-06-27 13:23] fernandog commented on #1
@rarbg did you see this? https://github.com/rarbg/torrentapi/issues/1#issuecomment-115699871

How often and what's the "scope" your imdb database updates?

[2015-06-27 13:34] rarbg commented on #1
handle the error. our imdb database usually doesnt include titltes which were never released on the site

[2015-06-27 13:37] fernandog commented on #1
Thanks
@KrunchMuffin so all indexers errors should be 'no results found' agree?

[2015-06-27 13:42] KrunchMuffin commented on #1
all i get back from CP is a imdbid. I don't get specifics. if there is no id, no search in rarbg is done.

[2015-06-27 13:42] miigotu commented on #1
@KrunchMuffin Just add the check here: https://github.com/KrunchMuffin/CouchPotatoServer/blob/Develop/couchpotato/core/media/_base/providers/torrent/rarbg.py#L112

[code]
Or you could break them into separate error messages based on the error code, and only log errors for actual errors.

[2015-06-27 13:46] KrunchMuffin commented on #1
but that is after a rarbg search. I believe everyone is talking about not searching at all?

[2015-06-27 13:49] rarbg commented on #1
@KrunchMuffin
They are saying that other apps have the capability of not searching for future year releases.
If you do have the year of the current imdb you are searching for and the current year is < than this imdb year you shouldnt search for it , simply because searching for a 2017 release in 2016 is waste of bandwith :)

[2015-06-27 13:50] KrunchMuffin commented on #1
ahh..ok, so u want me to check year against current year and if >current year, not search. that makes sense and should be able to do that.

[2015-06-27 13:51] rarbg commented on #1
@KrunchMuffin
Also you should add what @miigotu gave you in case the release is not available so the error is handled

[2015-06-27 13:58] KrunchMuffin commented on #1
I am doing that, just not looking for specific id. but I can add it.

                if 'error_code' in data:
                    if data['error'] == 'No results found':
                        log.debug("No results returned from Rarbg")
                    else:
                        log.error("There is an error in the returned JSON: %s", data['error'])

[2015-06-27 14:33] rarbg commented on #1
@KrunchMuffin
That error catching wont catch expired api tokens ( 4 )

[2015-06-27 15:12] KrunchMuffin commented on #1
I take care of that elsewhere
On Jun 27, 2015 10:33 AM, "Rarbg" <notifications@github.com> wrote:

[2015-06-27 15:59] Hellowlol commented on #1
I wouldn't make anything global with generic name like token.

[2015-06-28 17:25] KrunchMuffin commented on #1
pushed new code
https://github.com/KrunchMuffin/CouchPotatoServer/tree/Develop

[2015-06-29 08:08] rarbg commented on #1
@KrunchMuffin
You need to send app_id for internal purposes + a valid user agent(not idea what couchpotato's default is ) so cloudflare doesnt trip your requests

[2015-06-29 08:14] miigotu commented on #1
@rarbg should it be a standard browser user agent, or like the one we use in SR?

[2015-06-29 09:16] rarbg commented on #1
@miigotu
It shouldnt be a browser agent or curl/python/wget/whatever crawler you can think of/script language default user agent else cf starts acting weird

[2015-06-29 13:05] fernandog commented on #1
@KrunchMuffin no errors here.

[2015-06-29 13:56] KrunchMuffin commented on #1
Shit, I missed the app_id, sorry about that.
as for the user agent, CP currently sets it to
`user_agent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.10; rv:34.0) Gecko/20100101 Firefox/34.0'`

I haven't had any issues with CF. But I can make it CouchPotato/1.0 I guess if you think it helps.

[2015-06-29 14:58] KrunchMuffin commented on #1
@fernandog I tried to do the squash, dunno if it is correct. I am not a GIT master by any means.

[2015-07-01 17:02] fernandog commented on #1
@rarbg Im curious. How many SR users using RARBG? Do you have this stat? Thanks

[2015-07-01 17:09] rarbg commented on #1
@fernandog
we keep stats only for the past 24 hours , for now until i make the app_id stats :
2513 unique ips hit the api with the user agent SickRage*
375915 requests to the api with the user agent SickRage*

[2015-07-03 13:40] fernandog commented on #1
RARBG PR to couchtpotato got merged!
can you all test it too?

[2015-07-03 14:03] rarbg commented on #1
@KrunchMuffin
Thank you for all the hard work!
@fernandog
Thank you for helping out!

[2015-07-03 14:11] KrunchMuffin commented on #1
No problem.
On Jul 3, 2015 10:03 AM, "Rarbg" <notifications@github.com> wrote:

[2015-07-04 13:31] fernandog commented on #1
@rarbg can you tell how many users are using RARBG for CP?

[2015-07-04 13:40] rarbg commented on #1
@fernandog
2 ! :)

[2015-07-04 13:49] KrunchMuffin commented on #1
I don't think he has merged it into master or the executable so may be a
while before a high adoption rate.
On Jul 4, 2015 9:40 AM, "Rarbg" <notifications@github.com> wrote:

[2015-07-04 13:51] fernandog commented on #1
damn! forgot about that =) it's still in develop. Sorry!

[2015-07-04 20:14] miigotu commented on #1
Lol @ 2.... Haters.

[2015-07-05 04:23] rarbg commented on #1
@KrunchMuffin
You emailed saying you wanted top 10 rss included in the api :)
Just sort by seeders , ranked 1 ;)

[2015-07-05 08:06] rarbg opened #3 "API changes v3"
@abeloin , @fernandog , @SchizoDuckie , @Taloth , @JackDandy , @cvium , @zone117x , @mancuniancol , @romanvm , @Hellowlol , @erickok , @KrunchMuffin

Time to start planning for v3.
Response types wont be changed , only adding extra functionality per your requirements
Everyone has different issues related to the api so just please tell me how you want it to respond to your requests , what extra fea

[2015-07-05 08:07] rarbg commented on #1
Ok guys.
v1 is going to be deprecated in 90 days starting from today.
v2 is public and used by all active apps.
Im opening a new issue for v3 features & etc
https://github.com/rarbg/torrentapi/issues/3
Closing this one cause it got too huge :)

[2015-07-05 08:07] #1 closed

[2015-07-05 10:08] Hellowlol commented on #3
Seed quality and subtitles seems interesting!

[2015-07-05 12:23] KrunchMuffin commented on #1
No no. Cp has options for charts and stuff and wanted to include urs.
Nothing to do with api that's why I didn't post here.
On Jul 5, 2015 12:23 AM, "Rarbg" <notifications@github.com> wrote:

[2015-07-06 17:26] Taloth commented on #3
Look to me like most, if not all, of these changes can be backward compatible. v2.1 :wink:

[2015-07-06 17:28] rarbg commented on #3
@Taloth
Sure :D But lets work with major versions only cause its easier lol

[2015-07-06 22:29] SchizoDuckie commented on #3
I would prefer somewhat semantic versioning for sanity too : Breaking
changes: up the major. Non breaking changes: Increase minor.

On Mon, Jul 6, 2015 at 7:28 PM, Rarbg <notifications@github.com> wrote:

[2015-07-07 04:17] rarbg commented on #3
@SchizoDuckie
If you think about it there are already "breaking" changes for us on the v3 api task list :P
Not how the api works ,but how it works on our side :)

[2015-07-07 14:18] SchizoDuckie commented on #3
@rarbg: that's what semver is about. upping the majors on breaking changes
to consumers of your code :) anyway, it's up to you what to use, just
trowing in my $0.50

On Tue, Jul 7, 2015 at 6:17 AM, Rarbg <notifications@github.com> wrote:

[2015-07-07 18:20] Taloth commented on #3
Got a request, add ```offset``` param support for a couple of pages (on the ```list``` command at least), allows us to catch up after a 24h downtime, should only be 4-6 pages or so. So limiting it to max 10 is more than enough.

So ```&limit=100&offset=100``` would fetch page 2.

Also, please lemme know if using limit=25 (and thus occasionally fetching multiple pages if there were >24 releases in

[2015-07-07 18:28] rarbg commented on #3
@Taloth
Added the offest option to the task list
Resources wise - for the db it doesnt matter if its 25 or 100 because everything is in memory. Even 1000 wont matter...  , traffic wise tho 25 is better and believe me when i tell you that traffic is expensive :)

[2015-07-07 18:46] Taloth commented on #3
Okay, when offset is implemented I'll run a test for a few days, see what the optimal limit is 25, 50 or 100 in terms of traffic.

[2015-07-07 18:52] rarbg commented on #3
@Taloth
There are an average of 54 new ranked tv torrents uploaded per day. With the highest peak on sunday nights where it reaches 107.
I guess you can do multiple polls & etc , but it wont it better for you to get a torrent id ( seq integer ) for every torrent and you can keep that id so you know when to stop polling when you reach it ? That way you wont deal with dates & names & etc to match wh

[2015-07-08 21:00] Taloth commented on #3
Atm we do it on download link and pubdate (the pubdate in case the release got deleted). That should be enough for now.

[2015-07-10 20:44] rarbg commented on #3
Offtopic @SchizoDuckie wins the SPAMMER award of 2015 :D

[2015-07-10 20:54] SchizoDuckie commented on #3
![Thank you, thank you](http://media2.giphy.com/media/14uoAqOzW4Kfeg/giphy.gif)

[2015-07-22 14:13] fernandog commented on #1
anyone having issues with torrage giving bad .torrents files?

[code]

[2015-08-29 17:29] RuudBurger opened #4 "Add ID & details page url"
The info_page key now returns an URL with the token inside. This way I can't cache it properly because it expires soon. Is there a way to either return the torrent ID so I can create the detail URL of the release myself, or return the actual page url. Either way it's fine by me ;)
So I need `https://rarbg.to/torrent/XXXXX` or just the `XXXXX` part.

https://github.com/RuudBurger/CouchPotatoServer/

[2015-08-30 14:14] rarbg commented on #4
Im sorry but there is no way to make the link with a persistent token due to multiple copyright reasons... however you can cache the link without token , as soon as i is clicked / displayed call  'token': 'https://torrentapi.org/pubapi_v2.php?get_token=get_token&app_id=couchpotato', and append the new token to the request

[2015-09-01 05:27] romanvm commented on #3
IMO 'page' parameter would be better as more intuitive, e.g.` &limit=100&page=2`

[2015-09-11 16:08] rarbg commented on #3
Guys!
Because tvrage is once again down for more than a week we are planning to replace it with themoviedb for new shows. Ofcourse all old shows will have tvrage ids but new ones wont. Im sure that wont be a big issue for you all , but tell me if it is ?

old support : imdb,tvrage,tvdb
new support : imdb,tvdb,themoviedb, tvrage for shows that aired for the first time before September 2015(s01e01 b

[2015-09-11 16:11] KrunchMuffin commented on #3
@rarbg I see the CP has merged and released the code I did. Can you check to see what the usage is for it?

[2015-09-11 16:29] rarbg commented on #3
@KrunchMuffin
850-900 unique ips per day are hitting the api using couchpotato

[2015-09-12 06:32] romanvm commented on #3
I don't know if it's connected but TV show season and episode numbers are seriously fubar.

[2015-09-12 10:48] rarbg commented on #3
@romanvm
Its probably connected. Can you give me an example so i can fix it ?

[2015-09-12 11:00] rarbg commented on #3
@romanvm
Oh yes. I see it. Everything is broken related to tvrage. Will move to tvdb now. Give me 15.

[2015-09-12 11:16] rarbg commented on #3
@romanvm
Fixed.

[2015-09-12 11:18] rarbg commented on #3
Guys as of now ( 12.09.2015 ) search_tvrage is deprecated. Yes it will work but i strongly advice you not to use it in your apps. Ive updated docs with a replacement - search_themoviedb

old support : imdb,tvrage,tvdb
new support : imdb,tvdb,**themoviedb**, tvrage(deprecated , dont use ) for shows that aired for the first time before September 2015(s01e01 before 9.2015 )

[2015-09-12 11:38] romanvm commented on #3
Thanks, I confirm that seasonnum and epnum are now consistent with episode torrent names 'sXXeYY'.

[2015-09-17 10:35] rarbg commented on #3
Ok guys , final 24h before i lock the changes on 2.1 and start working on them
If you have any ideas / need anything new , please tell me now so i can plan it for 2.1

[2015-09-17 12:22] fernandog commented on #3
Fine by me
@miigotu ideas?

[2015-09-20 13:21] rarbg commented on #3
Hey @fernandog
Remind me again how you wanted to call max/min size ? In bytes right?

[2015-09-20 13:54] miigotu commented on #3
@rarbg yes, preferably in bytes since converting from whole GB or MB loses some precision that we would like to use to make a definite distinction between different files in cases of failed downloads (say if they marked it failed due to hardcoded subs or quality or some reason like that)

[2015-09-20 13:57] rarbg commented on #3
@miigotu
bytes is the easiest for me anyways because they are in bytes in our db

[2015-10-13 18:28] rarbg commented on #3
Guys , meet @pacoesteban
He is the maintainer of the Perl language library Rarbg::torrentapi for api communication
:)

[2015-10-14 12:29] pacoesteban commented on #3
Hi all !
I did not know about this "forum". I've no suggestions to make at this time. I think I'll just adapt the Perl module to the modifications you make. Will this be documented somewhere, right ?
@rarbg how did you know about the module ? (just curious).

Cheers,
Paco.

[2015-10-19 16:10] rarbg commented on #3
@pacoesteban
Any changes are documented in the api docs updates :)
I found out about your library on random luck browsing through cpan

[2015-10-20 17:35] fernandog commented on #3
@rarbg what do you think adding in search_string the possibility to do OR search ? It would be useful for searching for PROPER|REPACK in the same search using "|"

[2015-10-20 17:40] fernandog commented on #3
update: sorry, it's not documented in the api docs

[2015-10-20 17:41] rarbg commented on #3
@fernandog
Why dont you just do this :
For example the user gets "Some Tv Show S02E23"
When you check for PROPER or REPACK you search again for  "Some Tv Show S02E23"
On the search results match the titles against PROPER and REPACK ?

[2015-10-20 17:53] fernandog commented on #3
because findPropers is another thread. not the same as the dailysercher/backlogsearch. but will check this

[2015-10-20 18:05] JackDandy commented on #3
the **OR**... was added at my request long ago ...

and documented here.... https://github.com/rarbg/torrentapi/issues/1#issue-80600232

[2015-10-20 18:17] miigotu commented on #3
Yes, we know this already, and is how I'm doing it in SR.
`search_string=Game.of.Thrones+S01E01+{{PROPER|REPACK}}`
https://github.com/rarbg/torrentapi/issues/1#issuecomment-113881857

[2015-10-20 18:22] fernandog commented on #3
missing documentation in http://torrentapi.org/apidocs_v2.txt

[2015-10-20 18:29] rarbg commented on #3
Thanks for reminding me guys
Added to our task list that this should be included in the documentation :)

[2015-10-26 13:32] rarbg commented on #3
Guys , for solving the proxy issues i propose the following
We will get 1 more domain storrentapi2.org
api.org will be on cloudflare ( no change )
api2.org will be on incapsula
That way people that cant connect to the ssl of CF that is .. you know buggy sometimes you can fallback to the one on incapsula which is very compatible ?

[2015-10-26 13:36] Taloth commented on #3
Wouldn't a subdomain be cheaper?

[2015-10-26 13:54] rarbg commented on #3
@Taloth
Both incapsula and cloudflare require from the domain to use their dnses
So its impossible to use subdomains in that fashion :/

[2015-10-26 14:58] Taloth commented on #3
Their nameservers yes, but also host IP? *Hm, yes, so that would work if you want to redirect a fallback subdomain to your own server without CF encapsulation, but not redirect a subdomain to incapsula.*
Nevermind me then :D

[2015-11-14 06:59] rarbg commented on #3
Guys say hello to @Janoz-NL( java torrentlib )  and @walidsa3d ( cinemaflix
)

[2015-11-25 05:26] rarbg commented on #3
If you want to read about our recent ddos attacks - https://github.com/rarbg/ddos enjoy :D

[2015-11-25 07:23] miigotu commented on #3
Wow, didn't know that was going on...

BTW, switched app_id for new SR org to sickrage2 if that matters for your end (just wanted to distinguish from the old org)

[2015-11-25 09:40] rarbg commented on #3
@miigotu
You didnt notice because the outages were partial and only for the primary web
The api is a completely different infrastructure + uploads , meaning nothing client related was affected

About the app_id - doesnt matter,  im still not done making the analytics for it because im busy with lots of other stuff :)

[2015-12-01 18:26] rarbg commented on #3
Guys... i need your urgent help
Some new app ( hopefully not any of yours ) is making thousands of requests looking like the attached log.
Any ideas which app that might be ?

XXX domain - [01/Dec/2015:08:42:32 +0100] "GET /torrents.php?category%5B%5D=18&category%5B%5D=41&search=where%20bears%20are%20S04E15 HTTP/1.1" 200 6995 "" "Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like

[2015-12-01 18:53] Hellowlol commented on #3
Sorry i have no idea. Shouldnt be htpc manager and i bet there are less then 50 search each week for that app :P

[2015-12-01 19:12] rarbg commented on #3
Thanks @Hellowlol for the fast reply
Still trying to find it

[2015-12-01 19:18] fernandog commented on #3
Not SickRage.
Its scrapping rarbg.com isnt?
We all use the API

[2015-12-01 19:24] rarbg commented on #3
@fernandog
I know everyone is using the API , im just asking about ideas which app it might be even if its not listed here :)

[2015-12-01 19:40] SchizoDuckie commented on #3
Some new pct fork maybe?
Op 1 dec. 2015 20:24 schreef "Rarbg" <notifications@github.com>:

[2015-12-01 19:45] rarbg commented on #3
@SchizoDuckie
pct ?

[2015-12-01 19:49] SchizoDuckie commented on #3
popcorntime. I know there's a lot of hacks going on to resurrect it

[2015-12-01 20:04] rarbg commented on #3
@SchizoDuckie
Thanks.
Just managed to check all new forks - none include us , so its not that
Ideas ? :D

[2015-12-01 20:08] SchizoDuckie commented on #3
long shot: https://github.com/search?o=desc&q=torrents.php%3Fcategory%5B%5D&s=indexed&type=Code&utf8=%E2%9C%93 ?

[2015-12-01 20:14] rarbg commented on #3
@SchizoDuckie
Already tried that , nothing...

[2015-12-01 20:26] walidsa3d commented on #3
I think it's somehow related to PopCornTime

[2015-12-01 20:32] pacoesteban commented on #3
Hi,

In my case is more difficult (I've no control of others using the perl module), but It does not seem like a call generated from the module.
Besides, I doubt anybody is using it.

As other said, the volume suggest a trendy app like popcorntime.

Cheers,

[2015-12-01 20:35] rarbg commented on #3
Guys do you happen to know the names of the latest popcorntime forks ?

[2015-12-01 20:41] walidsa3d commented on #3
You can check https://www.reddit.com/r/PopCornTime

[2015-12-01 20:47] rarbg commented on #3
@walidsa3d
Already checked those...
Nothing in there

[2016-01-05 04:01] rarbg commented on #3
Found the app that was causing the requests
Its called MediaCenterMaster.

[2016-01-05 04:06] miigotu commented on #3
I would say spam them back if they dont work with you to fix the issue =P, but I guess that would be "unprofessional" lol

[2016-01-05 04:13] rarbg commented on #3
@miigotu
Already did spam them , i dont care about being "professional" :P

[2016-01-10 14:46] mancuniancol opened #5 "Rarbg Viewer"
Hi, I want to inform that I've created a RARBg viewer for Kodi using the Api. I've tried to follow all the instruction.  Please, let me know if I need to do some adjustment.  The proyect is here:
https://github.com/mancuniancol/plugin.video.rarbg

[2016-01-10 15:29] rarbg commented on #5
Hello
It looks good , however i think you should remove
+                 'Movies/Full BD',
because Kodi cant stream those :)

[2016-01-15 14:07] ne0ark commented on #4
Is it possible to get a IMDB link also when doing searchs by string?

[2016-01-15 14:11] rarbg commented on #4
@ne0ark what project are you from ? why didnt you read the docs ? what searches exactly are you performing ( what urls are you calling ) that dont give you imdb ? why are you hijacking this issue instead of opening a new one ?

[2016-01-17 20:14] mancuniancol commented on #5
OK I will check it

[2016-01-17 20:14] #5 closed

[2016-01-27 23:40] pingoo78 opened #7 "Search by tvdb number don't show all the result"
Hello,

I see a little bug when i search torrent with the tvdb number.
I don't see all result.

An exemple with x-files :

When I go to :
`http://torrentapi.org/pubapi_v2.php?sort=last&search_string=x-files&search_tvdb=77398&mode=search&format=json_extended&ranked=0&token=XXXXX`

I don't see the new season 10.

When I remove the 'search_tvdb' option :
`http://torrentapi.org/pubapi_v2.php?sort=last

[2016-01-27 23:58] rarbg commented on #7
Hello @pingoo78
Can you tell me from which project are you ?

[2016-01-28 00:02] rarbg commented on #7
1. You dont need search_string AND tvdb , only one of those :)
2.
I can confirm that this is a bug and this is related to how the API was planned but it wont be fixed soon because this is a single case.
The issue is that
The old x-files has imdb tt0106179
The new x-files has imdb tt4370492
Both have the SAME tvdb.
Because all api calls are retranslated internally in our api to imdb its bascally wo

[2016-01-28 12:53] rarbg commented on #7
@romanvm
This should be related to your question.
What urls are you calling ?

[2016-01-28 13:04] pingoo78 commented on #7
@rarbg I use sickrage ;)

[2016-01-28 13:18] romanvm commented on #7
@rarbg I see now. I didn't know about the difference and used the IMDB ID obtained from TVDB metadata (they contain the old one), not from rarbg. I guess I need to fix my code. Thanks for pointing this out.

[2016-01-28 21:54] pingoo78 commented on #7
@rarbg it seems imdb change their website today because the new x-files imdb number tt4370492 redirects now to the old x-files imdb number tt0106179

[2016-01-28 22:11] rarbg commented on #7
@pingoo78 @romanvm
You had no idea what kind of operations i had to do to fix the imdb change.
But its fixed and tested.
So please confirm ? :)

[2016-01-28 22:50] pingoo78 commented on #7
Yes it's good now :)
Thanks for your help.

[2016-02-07 20:04] #7 closed

[2016-02-25 13:12] dmsherazi opened #8 "any plans to make compatible with popcorn time?"

[2016-02-25 13:29] rarbg commented on #8
none. popcorntime should integrate us , not the other way around. there are already 20 apps  integrated with the current api and i dont see why popcorntime cant integrate to it instead of us to them.

[2016-02-25 13:37] Hellowlol commented on #8
Is you take a look at the popcorns api source code it uses the site to parse the info (Eztv). Here they get a real api to work it. All you need to do is make a wrapper.

[2016-02-25 14:08] rarbg commented on #8
Hes talking about the yts clown api :)
Because they currently use the site to search they just get banned because they havent implemented the api. Now because @dmsherazi doesnt want to implement a simple 50 liner after me posting that they should move to the api he decided to open an issue for us to change our api to accustomize them :) which is never going to happen.

[2016-03-02 07:23] turbalf commented on #4
Hello,
Will the solution given by RARBG be coded in a future update ?
Thanks a lot both of you for your work !

[2016-03-11 17:58] fernandog commented on #3
@rarbg website issues? Cant connect to http://torrentapi.org/pubapi_v2.php?get_token=get_token

[2016-03-11 18:02] KrunchMuffin commented on #3
Ya,  getting err_empty_response
On Mar 11, 2016 12:59 PM, "Fernando" <notifications@github.com> wrote:

[2016-03-11 19:00] rarbg commented on #3
Domain expired. We didnt have enough money to renew automatically and noone saw the expiring email. Renewed it , so should be back working within 1 hour. Sorry about the issue.
I also put full renew monitoring on it because initially i forgot to do so :>

[2016-03-11 19:07] rarbg commented on #3
Its back up. Again , sorry for the issue , will make sure this never happens again

[2016-03-11 19:20] fernandog commented on #3
thanks!

[2016-03-24 14:56] neox387 opened #9 ".torrent link in api"
Would it be possible to include the .torrent link in the api instead of only the magnet, or maybe there is another way idk ?

Asking this as sonarr currently doesn't torcache the magnet so blackhole is not working with rarbg :(

[2016-03-24 15:21] rarbg commented on #9
Sorry but this was discussed multiple times and the answer is no.

[2016-03-24 15:21] #9 closed

[2016-04-18 07:14] miigotu commented on #3
@rarbg something change with search api?

[code]

[2016-04-18 10:29] rarbg commented on #3
@miigotu no man , we just dont have Paw Patrol :)

[2016-04-18 10:33] miigotu commented on #3
Lol no shit. I've just seen that a bunch of times over the past few days and never saw it before so I figured something was broken =P.

I probably should figure out a better log message in that case =P

[2016-06-02 08:56] rarbg commented on #3
FYI guys
Total Requests to the api last 30 days 427,002,619
Just added 2 more servers to handle the load :)

[2016-06-02 09:34] Hellowlol commented on #3
Awesome stuff

[2016-06-02 12:41] Taloth commented on #3
Sonarr's Skyhook (tvdb proxy/sanitizer) handles about 208mil requests per month, so you win :)

[2016-06-13 18:06] rarbg commented on #3
FYI #2 guys
Total requests to the api last 30 days 434,660,661
Passed the 430k mark :D

[2016-08-01 13:55] Taloth opened #11 "Captcha on gettoken"
I've been getting reports from user that gettoken errors out with a captcha message.
Is there anything sonarr could do to avoid this?

I haven't seen it myself yet, so i don't know if there's a relation with a ratelimit or something similar.

[2016-08-01 14:08] rarbg commented on #11
Unless you give me ip ranges of the users i cant tell you why cloudflare is returning captchas for them

[2016-08-01 15:28] Taloth commented on #11
66.55.134.* is one I grabbed from irc, no guarantee it's the one running sonarr. I'll check our forum later.

[2016-08-01 15:37] rarbg commented on #11
Thats a :
A) VPS from vultr
B) Dedicated server from choopa
C) Random VPN that was abused and thats why Cloudflare blocked it with a CAPTCHA
Blocks are completely automated for A+B+C so there is nothing i can do
You can tell them to switch IP regions if its C , if its A+B ask them why they were abusing the API ( by abusing i mean 1k+ req / hour for example )

[2016-08-01 15:52] Taloth commented on #11
Tnx, that's useful.

Sonarr doesn't store cookies by default, so could be a shared ip thing. Without the cookie, cloudflare's anti-ddos won't be able to differentiate individual clients.

We're gathering some more ips from users and whether they use vpn.

[2016-08-01 15:53] a92nj2efnfsa commented on #11
The IP address that Taloth gave is correct, that is my IP address. I'm using private internet access and I'm not abusing the IP. I've disconnected and reconnected several times and gotten different IP addresses all with the same result. IPs I've been assigned by them that have not worked:

66.55.134.*
64.237.37.*
108.61.68.*

[2016-08-01 16:34] rarbg commented on #11
@a92nj2efnfsa thousands of users are using those ips , they are not used only by you and someone abused them and thats why you get a captcha!
For the past 48 hours there are 291490 requests from those ranges.

[2016-08-01 16:42] rarbg commented on #11
Oh and some more stats @a92nj2efnfsa @Taloth
Out of the 36 million requests for the past 48 hours - 5.1 million were made from AS20473 or Choopa, LLC ( incl the 3 ranges that i was given ) + multiple other ranges in US , FR , UK , NL , DE , JP , AU
The previous 24 hours before those 48 - only a mere 10k req / day were coming from that network
Only 486 users(ips) out of 50k daily unique got the cap

[2016-08-01 16:54] a92nj2efnfsa commented on #11
I wonder why the requests suddenly skyrocketed. That's really weird. I 100% understand not wanting to compromise the performance of the API - do you have any suggestions for me so that I can get it working again for myself?

[2016-08-01 18:13] Taloth commented on #11
I expected an increase after kat went down, but 19mil req/day seems quite excessive, that's a 35% increase. I'd imagine a lot of kat users were using VPNs, and that may account for some of the increase but not all of it...

Do you have any stats per app_id? And the get_token api? Basically to see how many are legitimate clients.

I briefly checked the internet for some options, but it appears that

[2016-08-01 19:20] rarbg commented on #11
@Taloth
Can you give me your email or just send an email to support@rarbg.com where we can discuss it ? There are some things i have to say that are not for a public issue

[2016-08-07 21:22] FredBro commented on #11
FYI: I'm using a VPN as well at 107.191.36.* and I'm using MCM. I've been getting "RARBG API is not responding or returning errors!"

I've written the developer and opened a bug report here on Github for MediaCenterMaster but the developer pointed me to this thread.

It started about the time kat went down as well. I know of two other MCM users who are experiencing this problem on the MCM forums a

[2016-08-07 21:26] rarbg commented on #11
@FredBro you have to read carefully what i said. 107.191.36. is still part of Choopa LLC.
Just connect to another geographical node in your PIA client - for example NL

[2016-08-08 02:22] a92nj2efnfsa commented on #11
@FredBro @rarbg what I ended up doing was just googling "free http proxy" and I added that in sonarr. That allowed me to pull down the rss feed and still use PIA.

[2016-08-08 11:46] Taloth commented on #11
I really wouldn't use free public proxies.

[2016-08-08 12:39] FredBro commented on #11
There's also no place to set a proxy in MCM. It would have to be at the OS level. And I agree, there are a lot of anti free proxy pages on the Internet telling of horror stories about malware.

Fred

On Mon, Aug 8, 2016 at 7:46 AM -0400, "Taloth" <notifications@github.com<mailto:notifications@github.com>> wrote:

I really wouldn't use free public proxies.

-
You are receiving this because you were

[2016-08-08 14:18] a92nj2efnfsa commented on #11
@Taloth  just out of curiosity why? (Not saying you're wrong, just wanted to know your thoughts.) my reasoning for not caring was it's just pulling down the rss feed and it's doing it over my PIA VPN anyway.

[2016-08-08 14:21] Taloth commented on #11
It's not just the rarbg api calls. You're proxying everything, including tvdb updates, xem and our own services. And potentially other indexers as well

[2016-08-08 18:00] a92nj2efnfsa commented on #11
@Taloth yea, good point, but if @rarbg is blocking those PIA IPs not sure what any other option is at this point...

[2016-08-09 07:10] Quaternions-FTW commented on #11
I was getting the same error using sonarr because I am connected to the a PIA VPN server which is connected with Choopa, LLC. I solved this by going to

Settings>General>Proxy Settings
and inputting the following

**Use Proxy >** YES
**Proxy Type >** Socks5 (This option supports Tor)
**Hostname >** proxy-nl.privateinternetaccess.com
**Port >** 1080
**Username >** x#######
**Password >** ##########

[2016-08-10 03:04] a92nj2efnfsa commented on #11
@Quaternions-FTW awesome, you just had to go and let @rarbg know that. Now they are blocking that as well.

[2016-08-10 03:56] Quaternions-FTW commented on #11
Not sure if it is related or coincidental, but in my sonarr logs, I am now receiving this html output:

# Error 502 Ray ID: ################ • 2016-08-10 03:47:18 UTC
## Bad gateway
You
### Browser
Working
Amsterdam
### CloudFlare
Working
torrentapi.org
### Host
Error
## What happened?

The web server reported a bad gateway error.
## What can I do?

Please try again in a few minutes.

CloudFlare R

[2016-08-10 05:33] odaysawaqed commented on #11
Getting this error as well
Error 502 Ray ID: 2d010c732b8a473a • 2016-08-10 05:29:18 UTC
Bad gateway

I tried to make a request from both my private ip and my VPN SP's ip
Both returned the same error!

According to the logs, this started happening on 8/9/16 at 5pm EST time

[2016-08-13 21:03] Taloth commented on #11
If one of you would be so kind to test Sonarr develop version 2.​0.​0.​4284, via PIA of course. You'll have to go to the settings page first, as shown in the PR I linked above.

Please note that the cookie expires after a week and needs to be refreshed, once we confirmed everything is working @rarbg will change that to 30 days.
There will be no way around that, you'll have to manually refresh it m

[2016-08-13 21:41] odaysawaqed commented on #11
Seems a little weird to me, i had recently changed my sonarr to the develop branch and it seems to work just fine. I looked at my version and its at 2.0.0.4280 currently.  The version 2.​0.​0.​4284 was probably released just now.  I don't think the PIA is an issue here nor it has anything related to the issue you you guys are working on. I only mentioned it earlier because i was trying to give as

[2016-08-13 21:52] Taloth commented on #11
Your issue had nothing to do with what we were discussing, you were just running into some temporary gateway timeouts, back then the api was just down for a while.
This issue is exclusively for ppl who's VPN IPs got blocked by Cloudflare captcha challenges.

I appreciate your willingness to test, but even if your test comes back positive, I still need someone else to verify it for the captcha.

[2016-08-13 22:11] odaysawaqed commented on #11
Using IPA VPN on version 2.​0.​0.​4284, I followed your PR I linked above RARBG seems to be added just fine. Hitting the test button returns "Testing RARBG succeeded" but Sonarr doesn't seem to notice the Captcha Response, click Refresh Token doesn't seem to give any feedback.

Here is the log:
[sonarr.debug.txt](https://github.com/rarbg/torrentapi/files/416786/sonarr.debug.txt)
[sonarr.trace.txt]

[2016-08-13 22:21] Taloth commented on #11
There is no captcha response, coz there is no captcha challenge. The "Testing Rarbg succeeded" means it's already fine without a captcha token.

[2016-08-13 22:23] odaysawaqed commented on #11
So is there anything i can do to help here? can i force the captcha challenge ?

[2016-08-13 22:25] Taloth commented on #11
No you can't, thank you. It has to be tested by users that were affected by the original issue.

[2016-08-15 20:09] a92nj2efnfsa commented on #11
@Taloth what do I type in the branch text field to get the develop build? Also, how do I get back to master? is it easy to get back to the master branch?

[2016-08-15 20:25] Taloth commented on #11
If you're using the build-in updater, then just `develop`.  See [here](https://github.com/Sonarr/Sonarr/wiki/Release-Branches) for more details.

You can't switch back immediately, due to potential database migrations. But once you got .4284 installed, you can change the field back to `master`, then you'll effectively switch back once the next master version gets released.

[2016-08-15 20:45] a92nj2efnfsa commented on #11
@Taloth do you want me to do 4284 or 4286?

[2016-08-15 20:54] Taloth commented on #11
Just the latest, so 4286. Sry, should've said that in my previous post.

[2016-08-15 21:27] a92nj2efnfsa commented on #11
@Taloth never mind, I just noticed my only option was to install the lasted dev build anyway. I installed 4286. I went to the rarbg indexer and hit refresh and no token shows up in the text field. I saw nothing in the logs so then I changed the verbose level to debug and I see this:

16-8-15 16:53:25.0|Debug|Api|[POST] /api/indexer/action/checkCaptcha: 200.OK (345 ms)
16-8-15 16:53:25.8|Debug|Api|

[2016-08-15 21:49] a92nj2efnfsa commented on #11
@Taloth I want to clarify from my previous post that I was thinking that since I was able to get the token when the PIA SOCKS5 information was filled in that maybe it was somehow cached after I disabled the SOCKS5 proxy, but I guess that makes no sense as my IP would have changed anyway... I currently have the proxy disabled and will keep it that way. Once the issue comes back, I can then continue

[2016-08-15 21:51] Taloth commented on #11
Thank you for trying to test it. Seems like the PIA IP addresses you're getting atm aren't blocked by CloudFlare. Please let me know once it errors out again.
The token I have expires tomorrow night, then I'll know whether Sonarr gives the proper errors.

I'll see about making it more clear that a token isn't always required. To prevent ppl spamming the Refresh button (which in turn spams torrenta

[2016-08-15 22:01] rarbg commented on #11
@Taloth great work! If you want i can force captcha for any user so they can test ? It will be easier i think ?

[2016-08-15 22:02] a92nj2efnfsa commented on #11
@Taloth ok, understood, I'll keep bouncing the openVPN service until I can get an IP that's blocked so I can effectively test it with you. I'll report back tomorrow with the results.

That's a crazy amount of time! Thanks again and good to hear about it helping with future builds :)

@rarbg can you block 208.167.254.108

[2016-08-15 22:05] Taloth commented on #11
Tnx but no, the reason I want it tested naturally is because cloudflare has different threat levels and may throw up different defences on soft threats, unlike the hard 'i want this ip have a captcha'.

So it's a final sanity check before I declare it fixed and go on holiday :)

[2016-08-19 18:16] Taloth commented on #11
@rarbg Can you extend it to 30 days? It neatly expires and logs errors, as intended. Gonna tweak the UI a bit but it should be ok as is.

[2016-08-19 18:48] rarbg commented on #11
Done @Taloth

[2016-09-03 07:02] Capslock2204 commented on #3
Hello rarbg,
Is it possible to use your API as a simple user (i have no app) if I make a request per hour ?

[2016-09-04 00:31] mikesalo23 commented on #11
Hi @rarbg - we're getting the captcha from 24.192.54.*

Any idea if you could check on it for me?

[2016-09-17 07:19] markus101 opened #12 "redirect_to_info.php not accepting tokens"
Hello, I'm a dev on Sonarr and had a user report an issue with viewing the info of a torrent. I did some testing as outlined below, please let me know if I can provide any more details.

Using the `info_page` property from a search response I'm getting the message `Invalid token. Use get_token for a new one!` if I use `https://torrentapi.org/pubapi_v2.php?get_token=get_token` I get the same token

[2016-09-17 08:31] Taloth commented on #11
Btw. @rarbg These captcha fixes have been release to master now. Feel free to remove the test ip from the blacklist.

I'll also close this issue.

[2016-09-17 08:31] #11 closed

[2016-09-17 10:33] rarbg commented on #12
Fixed
Sorry about that

[2016-09-18 22:26] markus101 commented on #12
Thanks! Looks like everything is working now.

[2016-09-18 22:26] #12 closed

[2016-09-22 20:11] ne0ark opened #13 "Threat Defense on Wget .."
wget -U "test" https://rarbg.to/rss_rt.php?id=bpk9ein45m&m=d

[code]

[2016-09-22 20:25] rarbg commented on #13
So? Why do you think this is api related ?

[2016-09-22 20:25] #13 closed

[2016-09-22 20:25] #8 closed

[2016-09-22 20:25] #4 closed

[2016-09-25 15:10] scriptzteam opened #14 "Your api not updating?"
https://torrentapi.org/pubapi_v2.php?mode=list&token=SOMETOKENKEY

Always got only release {"torrent_results":[{"filename":"Victoria.S01E03.WEBRip.x264-RARBG","category":"TV and all older after that ...

[2016-09-25 15:48] rarbg commented on #14
@scriptzteam
What project are you from ?

[2016-09-25 16:49] scriptzteam commented on #14
From NO project :D I am just lettin u know probably your cache not updating or broken db since its not updating?

[2016-09-25 16:56] rarbg commented on #14
@scriptzteam
if you dont read the first line of the api docs you just get shit banned and get no results

[2016-09-25 16:56] #14 closed

[2016-09-25 17:06] scriptzteam commented on #14
If you do want to ban about 2,500,000 IPs then well lets see how it will works out xD

[2016-09-25 17:54] rarbg commented on #14
@scriptzteam
there are more than 10 mln ips that are banned. I dont see why adding 2.5mln more will be an issue

[2016-09-25 17:59] rarbg commented on #14
@scriptzteam
Oh and you obviously think im threatening you - im not. Learn to actually read. Read the first fucking line of the docs and actually pass an app id param to the api and you wont get shit banned. If you dont know what shit banned is you might know what a shadow ban is.

[2016-09-25 18:27] scriptzteam commented on #14
Oh well nice now rarbg "You have experienced a bug in our site. An administrator has been notified about this problem. This page will automaticly refresh in 20 seconds."

rly thats great

[2016-09-25 18:38] rarbg commented on #14
@scriptzteam
just got hit with 400g , nothing major , 10 min downtime , thats all
not related to the API its separate

[2016-11-30 11:13] mancuniancol commented on #3
Hi, any idea when the 2.1 would be available?

[2016-11-30 11:20] rarbg commented on #3
@mancuniancol
Im working on 3.0 right now , 2.1 will not be released. 3.0 will include all 2.1 features and will work faster and offer full per show list - meaning you dont need to make tons of requests to see which episodes are available. Also 3.0 will not have tokens probably

[2016-11-30 12:47] mancuniancol commented on #3
That is a good news.

[2016-12-19 16:54] epistrephein commented on #3
Can anyone explain why sometimes API returns "No results found" for 2 or 3 calls in a row, then the 4th call returns the actual results? I thought it was a request per second problem, but even calling it every 5 or 10 seconds doesn't always work. I noticed it happens more frequently with search_string... 😕

[2016-12-19 17:18] rarbg commented on #3
@epistrephein i cant reproduce that. Can you give me the exact url you are calling ?

[2016-12-19 17:35] epistrephein commented on #3
@rarbg Sorry, it was a very poor issue report isn't it? 😄
The last URL I tried was `https://torrentapi.org/pubapi_v2.php?app_id=rarbg-rubygem&token=XXXXXXXXXX&mode=search&search_string=snowden`
It's working fine now, could it be a problem on my end?

(I'm developing a rubygem, is it an acceptable use of the api?)

[2016-12-19 17:42] rarbg commented on #3
@epistrephein i restarted all backends just in case to see if that fixes your issue. i will implement some kind of monitoring to see which requests fail in the future. i didnt find the issue this time but hopefully i will have a proper log for next time.

Yes rubygem is perfectly acceptable use of the api. Please tell me when its ready so i can add it to the apps/code using it in the repo README :

[2016-12-19 17:49] epistrephein commented on #3
@rarbg Thanks, if it happens again I will try to log and post all the infos I have.

Unrelated question: should I store the token with a timer and renew it every 15 minutes or can I just prepend a `get_token` request before every other api request? I noticed that the token returned is always the same if it's not expired, but I'm afraid that behaviour could flood the server. Or is it cached?
Thank

[2016-12-19 18:10] RHNorskov commented on #3
@rarbg If you are adding to the readme, I did a simple php wrapper a few months back. https://github.com/rhnorskov/torrentapi-php

[2016-12-19 18:11] miigotu commented on #3
@epistrephein Best practice would be to cache it and avoid an extra request.

[2016-12-19 18:19] rarbg commented on #3
@RHNorskov thanks man , added

@epistrephein store the token and renew it. if its not expired we always return the old one

[2016-12-20 14:43] epistrephein commented on #3
@rarbg I released the gem! Still young, but working on it. [GitHub repo](https://github.com/epistrephein/rarbg), [rubygems page](https://rubygems.org/gems/rarbg)

[2016-12-20 18:14] rarbg commented on #3
@epistrephein thanks , great work ! updated the README :)

[2016-12-28 20:35] NathHorrigan commented on #3
Love the api @rargb but was wondering if there is plans to be able to search with a genre parameter.

[2016-12-29 11:20] rarbg commented on #3
@NathHorrigan no way :) there is no "global" agreement on genres and the db genres are from multiple places

[2016-12-29 11:35] NathHorrigan commented on #3
@rarbg Makes Sense, Thanks for the reply :)

[2017-01-12 09:47] edhv commented on #3
Thanks for this great tool. Is there a way to get a list beyond the first 100? a pages query maybe? As other suggested it, but it's not listed on the TO-DO I thought I ask, for me this is the only thing that this api lacks. Subtitles or Genres can be solved with other API's

[2017-01-29 21:11] sergiotapia opened #15 "Fetching list of recent torrents?"
Hey guys,

 I'm trying to use your API to fetch a list of the most recent torrents. I'm hitting this endpoint and I get a collection of torrents. How often is this refreshed?

https://torrentapi.org/pubapi_v2.php?mode=list&token=TOKENp&limit=100

Thanks! I'm happy we can add Rarbg to Magnetissimo your site is awesome.

[2017-01-30 06:50] rarbg commented on #15
1 sec delay vs the site

[2017-01-31 19:13] kaso17 commented on #3
search_season and search_episode parameters would be nice

[2017-01-31 21:25] rarbg commented on #3
@kaso17 you can just use search_string for that

[2017-02-01 12:22] kaso17 commented on #3
With search string we would have to guess the format/make multiple queries
E.g. "search_string=The A Word S01E01" wouldn't return the "The.A.Word.1x01.720p.HDTV.x264-FoV[rartv]" release.
search_string=The A Word (alternatively imdbid, etc.) and search_season=1 search_episode=1 could easily return all releases.
The season/episode information seems to be already supported by the database as it's ret

[2017-02-01 12:52] miigotu commented on #3
S01E01 matches 1x1, 1x01, etc on nearly every torrent search site or api, including this one.

[2017-02-01 13:22] kaso17 commented on #3
https://torrentapi.org/pubapi_v2.php?token=kt2o4eqs9u&format=json_extended&limit=100&ranked=0&mode=search&search_string=The+A+Word+S01E01
does not include the 1x01 FoV release
https://torrentapi.org/pubapi_v2.php?token=kt2o4eqs9u&format=json_extended&limit=100&ranked=0&mode=search&search_string=The+A+Word+1x01 returns just the missing release

[2017-02-01 13:29] kaso17 commented on #3
Please try adding/search the "KickAssTorrent (kat.how)" indexer but change the site link to "http://kat.how/" (no https) and see if that's working.
If that's working please try again with EZTV but run a tcpdump for their IP, it should show you if there's an SSL problem.

[2017-02-01 13:58] Hellowlol commented on #3
imo should the fucktards keep to the naming standard and not try to reinvent the wheel. If the bastards cant even keep to a simple standard i assume there release is shit so it dont even matter. /rant

[2017-02-01 14:14] rarbg commented on #3
@kaso17 everything from 2016 rev spec is with S01E01 naming
@Hellowlol before 2016 tv scene rules naming standart allowed both by scene rules

[2017-02-01 14:18] Hellowlol commented on #3
@rarbg Thanks! I wasnt just checked the standard last year so i just assumed it always was like that.

[2017-02-01 20:46] SchizoDuckie commented on #3
@Hellowlol @rarbg  scene release naming is a wildly inaccurate mess. Use http://TheXem.de to resolve naming wonkyness and episodes that are out of order.

[2017-02-01 21:15] rarbg commented on #3
@SchizoDuckie actually no , everything is up to spec after 2016-04-05 when the The.720p.TV.x264.Releasing.Standards. and The.SD.TV.x264.Releasing.Standards. were released. Anything else is instanuked

[2017-02-01 21:17] SchizoDuckie commented on #3
Excellent. Doens't make the situation better for old releases where mistakes were made though. For that stuff Xem is brilliant.

[2017-02-01 21:22] rarbg commented on #3
No idea what XEM is but Tested with 20 top shows , found only 1 :D

[2017-02-01 21:24] Taloth commented on #3
TheXEM is only for alternative scene names and numbering (scene vs tvdb numbering), not patterns. It also heavily used to map multiple Anime to their tvdb season counterparts.

[2017-02-03 11:52] kaso17 commented on #3
It would be nice if we could get the magnet download link and a classic torrent file link.

[2017-02-03 12:32] rarbg commented on #3
@kaso17 never going to happen

[2017-03-12 13:47] fernandog commented on #3
@rarbg "This Domain Name Has Expired " for http://torrentapi.org

[2017-03-12 14:07] SchizoDuckie commented on #3
lol. n00b mistake :D

[2017-03-12 14:53] rarbg commented on #3
@fernandog @SchizoDuckie
Funny thing is that it expired 2 year in a row :) LOL.
Anyways its renewed

[2017-03-16 09:08] tobiasvdp opened #17 "Did something change after the downtime yesterday"
Via browser I can still query the api, but my java ee projects suddenly all get a 403 when querying the exact same url (https://torrentapi.org/pubapi_v2.php?get_token=get_token&app_id=vdplogisticsShows) for example.

[2017-03-16 09:32] tobiasvdp commented on #17
User-Agent seems to have become a requirement. Adding this solved the issue. (suspected something like that because the browser could still query.)

[2017-03-16 09:32] #17 closed